/* ---------- Roboto, Roboto Condensed, Cabin ---------- */

h1,
h2,
h3,
h4,
h5,
h6,
a,
button,
input,
h1 a,
h2 a {
    font-family: 'Lato', sans-serif;
    line-height: 1.2;
    font-size: 1em;
    font-weight: 700;
}
body,
p,
i,
li,
ul,
em
{
    font-family: 'Cormorant Garamond', serif;
    line-height: 1.2;
    font-weight: 500;
    font-size: 18px;
}
strong, b {
  font-weight: 700;
  -webkit-font-smoothing: antialiased;
}

.content .node .field a, .field p a {
  font-size: 0.8em;
  -webkit-font-smoothing: antialiased;
}


