/* ---------- Roboto, Roboto Condensed, Cabin ---------- */

h1,
h2,
h3,
h4,
h5,
h6,
a,
li,
button,
input,
h1 a,
h2 a {
    font-family: 'Lato', sans-serif;
    line-height: 1.2;
    font-weight: 700;
}
body,
p,
i
{
    font-family: 'Cormorant Garamond', serif;
    line-height: 1.2;
    font-weight: 500;
    font-size: 18px;
}
strong, b {
  font-weight: 700;
}
